In [ ]:
import time

import pandas as pd
# 0 - Revoke, 1 - Post, 2 - Match

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
'''
# CHANGE THIS
WORKING_DIR = r"D:\Data\MOEX-FX\2018-03\\"
OrderLog = "OrderLog20180302"
TradeLog = "TradeLog20180302"
order_log = pd.read_csv(WORKING_DIR + OrderLog + ".txt")
trade_log = pd.read_csv(WORKING_DIR + TradeLog + ".txt")
'''
OrderLog = "OrderLog20180302"
import gzip 
with gzip.open('/content/drive/MyDrive/DataMining/2018-03/OrderLog20180301.txt.gz', 'rb') as f:        
    order_log = pd.read_csv(f)
with gzip.open('/content/drive/MyDrive/DataMining/2018-03/TradeLog20180301.txt.gz', 'rb') as f:        
    trade_log = pd.read_csv(f)

In [ ]:
class Action:
    REVOKE = 0
    POST = 1
    MATCH = 2

In [ ]:
CODES = ['USD000000TOD', 'USD000UTSTOM', 'EUR_RUB__TOD', 'EUR_RUB__TOM', 'EURUSD000TOD', 'EURUSD000TOM']

In [ ]:
instruments_info = {'USD000000TOD': {'SCHEDULE': 174500000000, 'PRICE_STEP': 0.0025, 'INDEX':0},
                    'USD000UTSTOM': {'SCHEDULE': 235000000000, 'PRICE_STEP': 0.0025, 'INDEX':1},
                    'EUR_RUB__TOD': {'SCHEDULE': 150000000000, 'PRICE_STEP': 0.0025, 'INDEX':2},
                    'EUR_RUB__TOM': {'SCHEDULE': 235000000000, 'PRICE_STEP': 0.0025, 'INDEX':3},
                    'EURUSD000TOM': {'SCHEDULE': 235000000000, 'PRICE_STEP': 0.00001, 'INDEX':4},
                    'EURUSD000TOD': {'SCHEDULE': 150000000000, 'PRICE_STEP': 0.00001, 'INDEX':5}}

In [ ]:
# filtering orders
df_order = order_log[(order_log['SECCODE'].isin(CODES)) & (order_log['TIME'] < 235000000000)].copy()[:1000]
df_trade = trade_log[trade_log['SECCODE'].isin(CODES)].copy()

# harvard professor wrote this +100000 IQ code
# to sort actions by the following order: post, match, revoke
prep_dic = {Action.POST: 0, Action.MATCH: 1, Action.REVOKE: 2}
unprep_dic = { v: k for k, v in prep_dic.items() } # Inverse `prep_dic`

df_order['ACTION'] = df_order['ACTION'].apply(lambda num: prep_dic[num])
df_order.sort_values(by = ['TIME', 'ACTION'], inplace=True)
df_order['ACTION'] = df_order['ACTION'].apply(lambda num: unprep_dic[num])

In [ ]:
df_order.head()

   NO       SECCODE BUYSELL          TIME  ...   PRICE   VOLUME  TRADENO  TRADEPRICE
0   1  EUR_RUB__TOD       B  100000050299  ...  68.610  1000000      NaN         NaN
1   2  USD000000TOD       S  100000050316  ...  56.600  1000000      NaN         NaN
2   3  EUR_RUB__TOD       S  100000050325  ...  69.065  1000000      NaN         NaN
3   4  EUR_RUB__TOM       B  100000050353  ...  68.725  1000000      NaN         NaN
4   5  USD000000TOD       B  100000050361  ...  56.210  1000000      NaN         NaN

[5 rows x 10 columns]

In [ ]:
df_order[df_order['NO'] == 100]

     NO       SECCODE BUYSELL  ...   VOLUME  TRADENO  TRADEPRICE
99  100  EUR_RUB__TOM       S  ...  1000000      NaN         NaN

[1 rows x 10 columns]

In [ ]:
df_order.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 0 to 1098
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   NO          1000 non-null   int64
 1   SECCODE     1000 non-null   object
 2   BUYSELL     1000 non-null   object
 3   TIME        1000 non-null   int64
 4   ORDERNO     1000 non-null   int64
 5   ACTION      1000 non-null   int64
 6   PRICE       1000 non-null   float64
 7   VOLUME      1000 non-null   int64
 8   TRADENO     12 non-null     float64
 9   TRADEPRICE  12 non-null     float64
dtypes: float64(3), int64(5), object(2)
memory usage: 85.9+ KB

In [ ]:
df_trade.head()

     TRADENO       SECCODE    TIME  BUYORDERNO  SELLORDERNO    PRICE  VOLUME
0  163897149  USD000000TOD  100000          88           90  56.3800   70000
1  163897150  USD000UTSTOM  100001         296          628  56.4000    1000
2  163897151  USD000UTSTOM  100001         296          663  56.4000    1000
3  163897152  USD000UTSTOM  100001         701          184  56.4475    1000
4  163897153  USD000UTSTOM  100001         296          881  56.4000  118000

In [ ]:
df_trade.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59713 entries, 0 to 61879
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   TRADENO      59713 non-null  int64
 1   SECCODE      59713 non-null  object
 2   TIME         59713 non-null  int64
 3   BUYORDERNO   59713 non-null  int64
 4   SELLORDERNO  59713 non-null  int64
 5   PRICE        59713 non-null  float64
 6   VOLUME       59713 non-null  int64
dtypes: float64(1), int64(5), object(1)
memory usage: 3.6+ MB

In [ ]:
df_order['TRADENO'].value_counts()

163897150.0    2
163897153.0    2
163897151.0    2
163897149.0    2
163897154.0    2
163897152.0    2
Name: TRADENO, dtype: int64

In [ ]:
total_mistakes = 0

def print_error(error):
    global total_mistakes
    print('-' * 40)
    print(f'in row: {row["NO"]}')
    print(error)
    print('-' * 40)
    print()
    total_mistakes += 1
    
def check_exists(df_cur, row, NO='ORDERNO'):
    # check if the given ORDERNO exists
    sub_df = df_cur[df_cur[NO] == row[NO]] 
    if len(sub_df) > 0:
        return True, sub_df
    # printing the error
    else:
        print_error(f"ERROR: Record with {NO} {row[NO]} doesn't exist")
        return False, None
    
    
def handle_revoke(df_cur, row):
    # check if the given ORDERNO exists
    check, sub_df = check_exists(df_cur, row)
    if check:
        series = sub_df.iloc[0]
        # check if revoking volume is not greater than the current one
        if series['VOLUME'] >= row['VOLUME']:                
            if series['VOLUME'] == row['VOLUME']:
                # removing the record
                df_cur.drop(df_cur[df_cur['ORDERNO'] == row['ORDERNO']].index, inplace=True)
            else:
                # reducing the amount
                df_cur.loc[df_cur[df_cur['ORDERNO'] == row['ORDERNO']].index, ['VOLUME']] = series['VOLUME'] - row['VOLUME']
        # printing the error
        else:
            # Delete negative number
            df_cur.drop(df_cur[df_cur['ORDERNO'] == row['ORDERNO']].index, inplace=True)
            print_error("ERROR: Cannot revoke more that there is")
        
        
def handle_match(df_cur, row):
    global df_trade
    # check if the given ORDERNO exists
    check, sub_df = check_exists(df_cur, row)
    if check:
        # check if the given tradeno exists in trade logs
        check, sub_trade = check_exists(df_trade, row, 'TRADENO')       
        if check:
            series_trade = sub_trade.iloc[0]

            seller = df_cur[df_cur['ORDERNO'] == series_trade['SELLORDERNO']]
            buyer = df_cur[df_cur['ORDERNO'] == series_trade['BUYORDERNO']]

            # check if seller and buyer exist
            if len(seller) > 0 and len(buyer) > 0:
                seller = seller.iloc[0]
                buyer = buyer.iloc[0]

                # check if the volume is ok
                if seller['VOLUME'] >= row['VOLUME'] and buyer['VOLUME'] >= row['VOLUME']:
                    if seller['VOLUME'] == row['VOLUME']:
                        # removing the record
                        df_cur.drop(df_cur[df_cur['ORDERNO'] == seller['ORDERNO']].index, inplace=True)
                    else:
                        # reducing the amount
                        df_cur.loc[df_cur['ORDERNO'] == seller['ORDERNO'], ['VOLUME']] = seller['VOLUME'] - row['VOLUME']

                    if buyer['VOLUME'] == row['VOLUME']:
                        # removing the record
                        df_cur.drop(df_cur[df_cur['ORDERNO'] == buyer['ORDERNO']].index, inplace=True)
                    else:
                        # reducing the amount
                        df_cur.loc[df_cur['ORDERNO'] == buyer['ORDERNO'], ['VOLUME']] = buyer['VOLUME'] - row['VOLUME']

                # printing the error
                else:
                    # Delete negative numbers
                    if seller['VOLUME'] < row['VOLUME']:
                        df_cur.drop(df_cur[df_cur['ORDERNO'] == seller['ORDERNO']].index, inplace=True)
                    else:
                        df_cur.loc[df_cur['ORDERNO'] == seller['ORDERNO'], ['VOLUME']] = seller['VOLUME'] - row['VOLUME']

                    # Delete negative numbers
                    if buyer['VOLUME'] < row['VOLUME']:
                        df_cur.drop(df_cur[df_cur['ORDERNO'] == buyer['ORDERNO']].index, inplace=True)
                    else:
                        df_cur.loc[df_cur['ORDERNO'] == buyer['ORDERNO'], ['VOLUME']] = buyer['VOLUME'] - row['VOLUME']

                    print_error("ERROR: Not enough amount for buying and/or selling")

            # printing the error
            else:
                print_error(f"ERROR: There's no such buyer and/or seller")

In [ ]:
df_order[df_order['PRICE'] == 0]

      NO       SECCODE BUYSELL  ...  VOLUME      TRADENO  TRADEPRICE
861  862  USD000UTSTOM       B  ...    1000          NaN         NaN
862  863  USD000UTSTOM       B  ...    1000  163897152.0     56.4475

[2 rows x 10 columns]

In [ ]:
# ГОВНОКОД NO.1
# блин хз возможно класс больше не нужен

class Spectrum:
  def __init__(self, seccode):
        self.seccode = seccode 
        self.best_ask = 100000000
        self.best_bid = -1
        self.bids = [0]*10
        self.asks = [0]*10

'\nоказалось ненужным :(\n  def calculate_steps(self, step):\n        b = self.best_bid\n        a = self.best_ask\n        bids = []\n        asks = []\n        asks.append(a)\n        bids.append(b)\n        a = a-step\n        b=b+step\n        for i in range(10):\n          a = round(a+5*step, 5)\n          asks.append(a)\n          b = round(b-5*step, 5)\n          bids.append(b)\n        bids.reverse()\n        return bids, asks\n'

In [ ]:
# Helper functions
import math

def distance_idx(dif, step):
    return math.floor(dif/(step*5))

In [ ]:
# ГОВНОКОД NO.2

spectrums = dict()
for i in instruments_info.keys():
  spectrums[i] = Spectrum(i)

In [ ]:
# ГОВНОКОД NO.3

def change_spectrums(df_cur, row):
    seccode = row['SECCODE']
    step = instruments_info[seccode]['PRICE_STEP']

    spectrum = spectrums[seccode]
    
    new_price = row['PRICE']

    if row['ACTION'] == Action.POST:

        if row['BUYSELL'] == 'B':
            if new_price > spectrum.best_bid:
                temp_b = df_cur.loc[(df_cur['SECCODE'] == seccode) & (df_cur['BUYSELL'] == 'B')]
                spectrum.best_bid = new_price
                new_bids = [0]*10

                for index, row in temp_b.iterrows():
                    price = row['PRICE']
                    dif = spectrum.best_bid - price
                    if dif > step*49:
                        pass
                    else:
                        new_bids[9 - distance_idx(dif, step)] += row['VOLUME']

                spectrum.bids = new_bids
            elif new_price == spectrum.best_bid:
                spectrum.bids[9] += row['VOLUME']
            else:
                dif = spectrum.best_bid-new_price
                if dif > step*49:
                    pass
                else:
                    spectrum.bids[9 - distance_idx(dif, step)] += row['VOLUME']

        if row['BUYSELL'] == 'S':
            if new_price < spectrum.best_ask:
                temp_s = df_cur.loc[(df_cur['SECCODE'] == seccode) & (df_cur['BUYSELL'] == 'S')]
                spectrum.best_ask = new_price
                new_asks = [0]*10

                for index, row in temp_s.iterrows():
                    price = row['PRICE']
                    dif = price-spectrum.best_ask
                    if dif > step*49:
                        pass
                    else:
                        new_asks[distance_idx(dif, step)] += row['VOLUME']

                spectrum.asks = new_asks
            elif new_price == spectrum.best_ask:
                spectrum.asks[0] += row['VOLUME']
            else:
                dif = new_price-spectrum.best_ask
                if dif > step*49:
                    pass
                else:
                    spectrum.asks[distance_idx(dif, step)] += row['VOLUME']

    # проверить если прайс = бест
    #elif row['ACTION'] == Action.REVOKE:
    else:
        if row['BUYSELL'] == 'B':

            if new_price == spectrum.best_bid:
                if row['VOLUME'] >= spectrum.bids[9]:
                    temp_b = df_cur.loc[(df_cur['SECCODE'] == seccode) & (df_cur['BUYSELL'] == 'B')]
                    spectrum.best_bid = temp_b['PRICE'].max()
                    new_bids = [0]*10

                    for index, row in temp_b.iterrows():
                        price = row['PRICE']
                        dif = spectrum.best_bid - price
                        if dif > step*49:
                            pass
                        else:
                            new_bids[9 - distance_idx(dif, step)] += row['VOLUME']

                    spectrum.bids = new_bids
                else:
                    spectrum.bids[9] -= row['VOLUME']

            elif new_price > spectrum.best_bid:
                pass
            else:
                dif = spectrum.best_bid - new_price
                if dif > step*49:
                    pass
                else:
                    spectrum.bids[9 - distance_idx(dif, step)] -= row['VOLUME']

                if spectrum.bids[9 - distance_idx(dif, step)] < 0:
                    spectrum.bids[9 - distance_idx(dif, step)] = 0

        if row['BUYSELL'] == 'S':

            if new_price == spectrum.best_ask:
                if row['VOLUME'] >= spectrum.asks[0]:
                    temp_s = df_cur.loc[(df_cur['SECCODE'] == seccode) & (df_cur['BUYSELL'] == 'S')]
                    spectrum.best_ask = temp_s['PRICE'].min()
                    new_asks = [0]*10

                    for index, row in temp_s.iterrows():
                        price = row['PRICE']
                        dif = price - spectrum.best_ask
                        if dif > step*49:
                            pass
                        else:
                            new_asks[distance_idx(dif, step)] += row['VOLUME']

                    spectrum.asks = new_asks
                else:
                    spectrum.asks[0] -= row['VOLUME']

            elif new_price < spectrum.best_ask:
                pass
            else:
                dif = new_price-spectrum.best_ask
                if dif > step*49:
                    pass
                else:
                    spectrum.asks[distance_idx(dif, step)] -= row['VOLUME']
                    if spectrum.asks[distance_idx(dif, step)] < 0:
                        spectrum.asks[distance_idx(dif, step)] = 0

    b = spectrum.bids.copy()
    b.extend(spectrum.asks)
    
    return b

"\n    temp_b = df_cur.loc[(df_cur['SECCODE'] == seccode) & (df_cur['BUYSELL'] == 'B')]\n    temp_s = df_cur.loc[(df_cur['SECCODE'] == seccode) & (df_cur['BUYSELL'] == 'S')]\n    spectrum.best_bid = temp_b['PRICE'].max()\n    spectrum.best_ask = temp_s['PRICE'].min()\n    #bids, asks = spectrum.calculate_steps(step)\n    values = [0] * 20\n    for index, row in temp_s.iterrows():\n      price = row['PRICE']\n      dif = price - spectrum.best_ask\n      if dif > step*49:\n        pass\n      else:\n        values[10+math.floor(dif/(step*5))] += row['VOLUME']\n    for index, row in temp_b.iterrows():\n      price = row['PRICE']\n      dif = spectrum.best_bid - price\n      if dif > step*49:\n        pass\n      else:\n        values[math.floor(dif/(step*5))] += row['VOLUME']\n    return values\n"

In [ ]:
start = time.time()
k = 0
# empty df for keeping track
df_cur = pd.DataFrame(columns=df_order.columns)
df_spec = pd.DataFrame(columns=['SECCODE', 'TIMESTAMP', 'BID_ASK'])

# for processing each TRADENO only once
matches = []

# iterating through the order book
for index, row in df_order.iterrows():
    # if post -> add to df_cur
    if row['ACTION'] == Action.POST:
        df_cur = df_cur.append(row)
        
    
    elif row['ACTION'] == Action.REVOKE:
        handle_revoke(df_cur, row)
       
        
    elif row['ACTION'] == Action.MATCH:
        if row['TRADENO'] in matches:
            matches.remove(row['TRADENO'])
            continue
        else:
            matches.append(row['TRADENO'])
            handle_match(df_cur, row)
    
    # для каждой новой row считаем спектрум и добавляем в файлик
    values = change_spectrums(df_cur, row)
    d = { 'SECCODE': row['SECCODE'], 'TIMESTAMP': row['TIME'], 'BID_ASK': values }
    df_spec = df_spec.append(d, ignore_index=True)
    #print(values)
    k += 1
    if k%50000 == 0:
        df_spec.to_csv('/content/drive/MyDrive/DataMining/spectrums/'+str(k//50000)+'.csv')  

   
df_cur.to_csv('no-thread-lol.csv')
df_spec.to_csv('spectru.csv')

end = time.time()

print(end - start)

7.510370254516602

In [ ]:
df_spec.to_csv('/content/drive/MyDrive/DataMining/spectrum.csv')

In [ ]:
df_spec

          SECCODE  ...                                            BID_ASK
0    EUR_RUB__TOD  ...  [0, 0, 0, 0, 0, 0, 0, 0, 0, 1000000, 0, 0, 0, ...
1    USD000000TOD  ...  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1000000, 0, 0, ...
2    EUR_RUB__TOD  ...  [0, 0, 0, 0, 0, 0, 0, 0, 0, 1000000, 1000000, ...
3    EUR_RUB__TOM  ...  [0, 0, 0, 0, 0, 0, 0, 0, 0, 1000000, 0, 0, 0, ...
4    USD000000TOD  ...  [0, 0, 0, 0, 0, 0, 0, 0, 0, 1000000, 1000000, ...
..            ...  ...                                                ...
989  USD000UTSTOM  ...  [0, 1011000, 0, 0, 1000, 202000, 652000, 10000...
990  USD000UTSTOM  ...  [0, 1011000, 0, 0, 1000, 202000, 450000, 10000...
991  USD000UTSTOM  ...  [0, 1011000, 0, 0, 1000, 202000, 450000, 10000...
992  USD000UTSTOM  ...  [0, 1011000, 0, 0, 1000, 202000, 450000, 10000...
993  USD000UTSTOM  ...  [0, 1011000, 0, 0, 1000, 202000, 450000, 10000...

[994 rows x 3 columns]

In [ ]:
final = df_cur.groupby(['SECCODE','BUYSELL','PRICE'])['VOLUME'].sum().reset_index()\
    .sort_values(by=['SECCODE', 'BUYSELL', 'PRICE'])

In [ ]:
final

          SECCODE BUYSELL     PRICE   VOLUME
0    EURUSD000TOD       B   1.22026  1000000
1    EURUSD000TOD       S   1.22041  1000000
2    EURUSD000TOM       B   1.22010  1000000
3    EURUSD000TOM       B   1.22015  1000000
4    EURUSD000TOM       B   1.22016  1000000
..            ...     ...       ...      ...
493  USD000UTSTOM       S  58.79000     2000
494  USD000UTSTOM       S  58.80000    62000
495  USD000UTSTOM       S  58.81000    25000
496  USD000UTSTOM       S  58.86000     7000
497  USD000UTSTOM       S  58.86500     1000

[498 rows x 4 columns]

In [ ]:
final.to_csv('OrderBook' + OrderLog[8:] +'.csv')

### Mistakes in dataset

#### Incorrect volumes

In [ ]:
df_order[df_order['NO'] == 95871]

Empty DataFrame
Columns: [NO, SECCODE, BUYSELL, TIME, ORDERNO, ACTION, PRICE, VOLUME, TRADENO, TRADEPRICE]
Index: []

In [ ]:
df_order[df_order['ORDERNO'] == 48103]

Empty DataFrame
Columns: [NO, SECCODE, BUYSELL, TIME, ORDERNO, ACTION, PRICE, VOLUME, TRADENO, TRADEPRICE]
Index: []

In [ ]:
df_trade[df_trade['TRADENO'] == 164004000]

Empty DataFrame
Columns: [TRADENO, SECCODE, TIME, BUYORDERNO, SELLORDERNO, PRICE, VOLUME]
Index: []

In [ ]:
df_order[df_order['ORDERNO'] == 48095]

Empty DataFrame
Columns: [NO, SECCODE, BUYSELL, TIME, ORDERNO, ACTION, PRICE, VOLUME, TRADENO, TRADEPRICE]
Index: []

#### Вот тут думаю надо исправить (кривой порядок NO в одном TIME)

#### upd: temporarly solved

In [ ]:
df_order[df_order['NO'] == 95877]

Empty DataFrame
Columns: [NO, SECCODE, BUYSELL, TIME, ORDERNO, ACTION, PRICE, VOLUME, TRADENO, TRADEPRICE]
Index: []

In [ ]:
df_order[df_order['ORDERNO'] == 48104]

Empty DataFrame
Columns: [NO, SECCODE, BUYSELL, TIME, ORDERNO, ACTION, PRICE, VOLUME, TRADENO, TRADEPRICE]
Index: []

In [ ]:
df_trade[df_trade['TRADENO'] == 164004001]

Empty DataFrame
Columns: [TRADENO, SECCODE, TIME, BUYORDERNO, SELLORDERNO, PRICE, VOLUME]
Index: []

In [ ]:
df_order[df_order['ORDERNO'] == 48105]

Empty DataFrame
Columns: [NO, SECCODE, BUYSELL, TIME, ORDERNO, ACTION, PRICE, VOLUME, TRADENO, TRADEPRICE]
Index: []

In [ ]:
df_order[(df_order['NO'] >= 95876) & (df_order['NO'] <= 95880)]

Empty DataFrame
Columns: [NO, SECCODE, BUYSELL, TIME, ORDERNO, ACTION, PRICE, VOLUME, TRADENO, TRADEPRICE]
Index: []

In [ ]:
df_order[(df_order['NO'] >= 95876) & (df_order['NO'] <= 95880)]

Empty DataFrame
Columns: [NO, SECCODE, BUYSELL, TIME, ORDERNO, ACTION, PRICE, VOLUME, TRADENO, TRADEPRICE]
Index: []